.wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-top: 4rem;
  padding: 2rem;
  font-size: 1.8rem;
}

h4 {
  font-size: 3rem;
  margin: 4rem auto;
}

strong {
  display: inline-block;
  font-size: 2.2rem;
  margin-left: 1rem;
}
