.card {
  width: calc(25% - 1.5rem);
  min-width: 30rem;
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1.8rem;
  border: 0.2rem solid #36c2de;
  border-radius: 1rem;
  background: #000;
}

h4 {
  font-size: 3rem;
  margin: 4rem auto;
}

strong {
  display: inline-block;
  font-size: 2.2rem;
  margin-left: 1rem;
}
